<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자유 게시판</title>
</head>
<body>
<h1>게시판 목록</h1><a href="/">홈으로</a><br>
<a href="/newContent">글작성</a>
<div>
    <form action="/" method="get">
        <input type="text" name="keyword" placeholder="게시글 찾기"><input type="submit" value="검색">
    </form>
</div>
    <table border="1">
        <tr bgcolor="gray">
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        <tr th:each="B : ${boardList}" align="center">
            <td th:text="${B.bno}"></td>
            <td width=300px><a th:href="@{/boardInfo/{bno}(bno=${B.bno})}" th:utext="${B.title}"></a></td>
            <td th:text="${B.writer}"></td>
            <td th:text="${B.regdate}"></td>
            <td th:text="${B.viewcnt}"></td>
        </tr>
    </table>

</body>
</html>