<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>안심식당 목록</title>
</head>
<body>
<h1>안심식당 목록</h1><a href="/">홈으로</a><br>
<div>
    <form action="findByAddress" method="get">
        <input type="text" name="keyword" placeholder="지번주소로 찾기"><input type="submit" value="검색">
    </form>
    <form action="findByName" method="get">
        <input type="text" name="keyword" placeholder="식당명으로 찾기"><input type="submit" value="검색">
    </form>
</div>
<form name="form" method="post">
    <input type="submit" value="찜 등록" formaction="saveMypicks">
    <table border="1" align="center">
        <tr bgcolor="gray">
            <th>check</th>
            <th>안심번호</th>
            <th>이름</th>
            <th>업종</th>
            <th>상세업종</th>
            <th>시도</th>
            <th>시군구</th>
            <th>주소</th>
            <th>상세주소</th>
            <th>지번</th>
            <th>우편번호</th>
            <th>도로명</th>
            <th>전화번호</th>
            <th>데이터수집날짜</th>
            <th>위치</th>
        </tr>
        <tr th:each="R,index : ${restrList}"> <!--index를 통해 ${index.index}로 현재 인덱스값 알 수 있음 -->
            <input type="hidden" name="restaurant" th:value="${R.safetyNo}"> <!-- restaurant 이름으로 value값이 모두 저장됨 서버단에서 request.getParameterValues로 String 배열로 받을 수 있음 -->
            <td><input type="checkbox" name="restrNum" th:value="${R.safetyNo}"></td><!-- restrNum 이름으로 체크된 value값이 모두 저장됨 서버단에서 request.getParameterValues로 String 배열로 받을 수 있음 -->
            <td th:text="${R.safetyNo}"></td>
            <td th:text="${R.name}"></td>
            <td th:text="${R.induType}"></td>
            <td th:text="${R.detailType}"></td>
            <td th:text="${R.sido}"></td>
            <td th:text="${R.signgu}"></td>
            <td th:text="${R.address}"></td>
            <td th:text="${R.detailAddress}"></td>
            <td th:text="${R.jibeon}"></td>
            <td th:text="${R.zipNo}"></td>
            <td th:text="${R.doroName}"></td>
            <td th:text="${R.tell}"></td>
            <td th:text="${R.DTD}"></td>
            <td><button type="submit" name="submit" th:value="${index.index}" formaction="/showMap">지도보기</button></td>
        </tr>
    </table>
</form>

</body>
</html>