<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>안심식당 찾기</title>
</head>
<body>
<div>
    <p th:text="'안녕하세요. '+${name}+'님이 로그인 중입니다.'">? 님 로그인 되어있는 상태</p><a href="/memberInfo">사용자 정보</a><br>
    <a href="/restrList">안심식당 목록보기</a><br><a href="/showMyPicks">찜 목록 보기</a><br>
    <div>
        <form action="findByAddress" method="get">
            <input type="text" name="keyword" value="지번주소로 찾기"><input type="submit" value="검색">
        </form>
        <form action="findByName" method="get">
            <input type="text" name="keyword" value="식당명으로 찾기"><input type="submit" value="검색">
        </form>
    </div>
    <a href="logout">Logout</a>
</div>
</body>
</html>